In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter("ignore")
print(pd.__version__)

1.4.2

In [2]:
df_erp=pd.read_excel(r"C:\Users\franc\Desktop\DATA\PROJET 5 Optimisez la gestion des données d'une boutique avec R ou Python\erp.xlsx")
df_web=pd.read_excel(r"C:\Users\franc\Desktop\DATA\PROJET 5 Optimisez la gestion des données d'une boutique avec R ou Python\web.xlsx")
df_liaison=pd.read_excel(r"C:\Users\franc\Desktop\DATA\PROJET 5 Optimisez la gestion des données d'une boutique avec R ou Python\liaison.xlsx")

# xl_file=pd.ExcelFile(r"C:\Users\franc\Desktop\DATA\PROJET 5 Optimisez la gestion des données d'une boutique avec R ou Python\erp.xlsx")
# df_erp = {sheet_name: xl_file.parse("Sheet1") 
#           for sheet_name in xl_file.sheet_names}
# df_erp.head()

# xl_file = pd.ExcelFile(file_name)

# dfs = {sheet_name: xl_file.parse(sheet_name) 
#           for sheet_name in xl_file.sheet_names}

# Données ERP

In [3]:
#Visualisation de df_erp
print("Données ERP")
display(df_erp.head())

Données ERP

   product_id  onsale_web  price  stock_quantity stock_status
0        3847           1   24.2               0   outofstock
1        3849           1   34.3               0   outofstock
2        3850           1   20.8               0   outofstock
3        4032           1   14.1               0   outofstock
4        4039           1   46.0               0   outofstock

In [4]:
#Vérification si on a des valeurs manquantes
sum_valeur_manquante_df_erp = df_erp.isnull().sum()
sum_valeur_manquante_df_erp #pas de valeurs manquantes dans df_erp

product_id        0
onsale_web        0
price             0
stock_quantity    0
stock_status      0
dtype: int64

In [5]:
#Visualisation type et nombre de coloones
display(df_erp.shape)
display(df_erp.info())

(825, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 32.4+ KB

None

In [6]:
#Recherche de duplicat dans colonne product_id clé primaire candidate
dub_product_id=df_erp.pivot_table(index=['product_id'], aggfunc='size')
  
print(dub_product_id)

product_id
3847    1
3849    1
3850    1
4032    1
4039    1
       ..
7203    1
7204    1
7247    1
7329    1
7338    1
Length: 825, dtype: int64

In [7]:
df_erp[df_erp.duplicated(['product_id'], keep= False)].sort_values(by=['product_id'])

Empty DataFrame
Columns: [product_id, onsale_web, price, stock_quantity, stock_status]
Index: []

# Données WEB

In [8]:
print("Données WEB")
display(df_web.head())

Données WEB

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,bon-cadeau-25-euros,0,0,0,0.0,10.0,taxable,NaN,1.0,2018-06-01 13:53:46,...,bon-cadeau-de-25-euros,2018-06-01 14:13:57,2018-06-01 12:13:57,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
1,15298,0,0,0,0.0,6.0,taxable,NaN,2.0,2018-02-08 12:58:52,...,pierre-jean-villa-saint-joseph-preface-2018,2019-12-30 09:30:29,2019-12-30 08:30:29,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
2,15296,0,0,0,0.0,0.0,taxable,NaN,2.0,2018-02-08 13:49:41,...,pierre-jean-villa-saint-joseph-tilde-2017,2019-12-21 09:00:17,2019-12-21 08:00:17,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
3,15300,0,0,0,0.0,0.0,taxable,NaN,2.0,2018-02-08 14:08:36,...,pierre-jean-villa-croze-hermitage-accroche-coe...,2020-06-26 18:15:03,2020-06-26 16:15:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
4,19814,0,0,0,0.0,3.0,taxable,NaN,2.0,2018-02-09 14:01:05,...,pierre-jean-villa-igp-gamine-2018,2020-01-04 16:36:01,2020-01-04 15:36:01,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0

In [9]:
#Vérification si on a des valeurs manquantes
sum_valeur_manquante_df_web = df_web.isnull().sum()
sum_valeur_manquante_df_web # Il y a 85 valeurs manquantes dans sku

sku                        85
virtual                     0
downloadable                0
rating_count                0
average_rating             83
total_sales                83
tax_status                797
tax_class                1513
post_author                83
post_date                  83
post_date_gmt              83
post_content             1513
post_title                 83
post_excerpt              797
post_status                83
comment_status             83
ping_status                83
post_password            1513
post_name                  83
post_modified              83
post_modified_gmt          83
post_content_filtered    1513
post_parent                83
guid                       83
menu_order                 83
post_type                  83
post_mime_type            799
comment_count              83
dtype: int64

In [10]:
#Recherche de duplicat dans colonne sku clé primaire candidate
dub_sku_web=df_web.pivot_table(index=['sku'], aggfunc='size')
  
print('il y a des valeurs en double', dub_sku_web)

il y a des valeurs en double sku
38                     2
41                     2
304                    2
523                    2
531                    2
                      ..
19820                  2
19821                  2
19822                  2
13127-1                2
bon-cadeau-25-euros    2
Length: 714, dtype: int64

In [11]:
#on enlève les doublons pour ne garder que les produits et non les images en ne sélectionnant que les lignes taxables
df_web_clean= df_web.loc[df_web['post_type']=='product']
df_web_clean

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,bon-cadeau-25-euros,0,0,0,0.0,10.0,taxable,NaN,1.0,2018-06-01 13:53:46,...,bon-cadeau-de-25-euros,2018-06-01 14:13:57,2018-06-01 12:13:57,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
1,15298,0,0,0,0.0,6.0,taxable,NaN,2.0,2018-02-08 12:58:52,...,pierre-jean-villa-saint-joseph-preface-2018,2019-12-30 09:30:29,2019-12-30 08:30:29,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
2,15296,0,0,0,0.0,0.0,taxable,NaN,2.0,2018-02-08 13:49:41,...,pierre-jean-villa-saint-joseph-tilde-2017,2019-12-21 09:00:17,2019-12-21 08:00:17,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
3,15300,0,0,0,0.0,0.0,taxable,NaN,2.0,2018-02-08 14:08:36,...,pierre-jean-villa-croze-hermitage-accroche-coe...,2020-06-26 18:15:03,2020-06-26 16:15:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
4,19814,0,0,0,0.0,3.0,taxable,NaN,2.0,2018-02-09 14:01:05,...,pierre-jean-villa-igp-gamine-2018,2020-01-04 16:36:01,2020-01-04 15:36:01,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,16135,0,0,0,0.0,5.0,taxable,NaN,2.0,2020-04-25 13:22:38,...,mouthes-le-bihan-aime-chai-2015,2020-08-26 17:35:03,2020-08-26 15:35:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
767,15891,0,0,0,0.0,0.0,taxable,NaN,2.0,2020-05-02 14:53:40,...,camin-larredya-jurancon-sec-la-virada-2018,2020-08-26 17:35:02,2020-08-26 15:35:02,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
768,15887,0,0,0,0.0,0.0,taxable,NaN,2.0,2020-05-02 15:00:54,...,jamet-cote-rotie-fructus-voluptas-2018,2020-08-14 18:15:03,2020-08-14 16:15:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
797,13127-1,0,0,0,0.0,0.0,taxable,NaN,2.0,2020-06-09 15:42:04,...,clos-du-mont-olivet-chateauneuf-du-pape-2007-2,2020-07-20 17:09:06,2020-07-20 15:09:06,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
798,16230,0,0,0,0.0,0.0,taxable,NaN,2.0,2020-07-20 11:00:00,...,domaine-saint-nicolas-fiefs-vendeens-blanc-les...,2020-08-13 10:45:03,2020-08-13 08:45:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0

In [12]:
#Vérification des types de variables 
df_web_clean.info() # sku est de type object au lieu de int suppose qu'on a des STR

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 0 to 798
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sku                    714 non-null    object
 1   virtual                716 non-null    int64
 2   downloadable           716 non-null    int64
 3   rating_count           716 non-null    int64
 4   average_rating         716 non-null    float64
 5   total_sales            716 non-null    float64
 6   tax_status             716 non-null    object
 7   tax_class              0 non-null      float64
 8   post_author            716 non-null    float64
 9   post_date              716 non-null    datetime64[ns]
 10  post_date_gmt          716 non-null    datetime64[ns]
 11  post_content           0 non-null      float64
 12  post_title             716 non-null    object
 13  post_excerpt           716 non-null    object
 14  post_status            716 non-null    object
 15  comment_status         716 non-null    object
 16  ping_status            716 non-null    object
 17  post_password          0 non-null      float64
 18  post_name              716 non-null    object
 19  post_modified          716 non-null    datetime64[ns]
 20  post_modified_gmt      716 non-null    datetime64[ns]
 21  post_content_filtered  0 non-null      float64
 22  post_parent            716 non-null    float64
 23  guid                   716 non-null    object
 24  menu_order             716 non-null    float64
 25  post_type              716 non-null    object
 26  post_mime_type         0 non-null      object
 27  comment_count          716 non-null    float64
dtypes: datetime64[ns](4), float64(10), int64(3), object(11)
memory usage: 162.2+ KB

In [13]:
display(df_web_clean.shape)

(716, 28)

In [14]:
# Recherche des valeurs STR 
df_web_clean['sku'].unique() #'bon-cadeau-25-euros' '13127-1' sont des valeurs STR

array(['bon-cadeau-25-euros', 15298, 15296, 15300, 19814, 19815, 15303,
       14975, 16042, 14980, 16041, 15269, 14977, 16044, 16043, 16449,
       16045, 16030, 13127, 19816, 16029, 16039, 16318, 16275, 16498,
       16320, 16319, 15966, 15022, 15967, 15490, 16416, 11862, 15444,
       15953, 12045, 13074, 15941, 16069, 13072, 15440, 13435, 13078,
       13117, 16296, 16014, 16462, 16013, 16180, 15676, 16120, 15564,
       15675, 15378, 15813, 13416, 14905, 15767, 16505, 15683, 16504,
       15787, 14800, 15353, 15382, 15339, 11668, 13209, 15341, 13217, 304,
       11641, 1662, 1360, 15648, 1364, 7086, 1366, 15140, 16238, 16237,
       15141, 14944, 14941, 14751, 16093, 15668, 15373, 15375, 14474,
       15482, 13453, 15075, 16124, 15785, 15784, 15786, 14332, 16210,
       16211, 16209, 15629, 15583, 16160, 16166, 15783, 16560, 15747,
       15746, 16190, 16189, 16265, 16191, 16263, 15605, 16529, 15441,
       13032, 16256, 16322, 16295, 15656, 15655, 15415, 15414, 15413,
       16023, 16024, 15720, 15714, 15717, 15718, 15480, 15213, 15672,
       12599, 15758, 15829, 15759, 16585, 15306, 16497, 15261, 12657,
       15403, 15461, 16269, 13905, 16567, 15436, 14725, 15310, 15770,
       16097, 15428, 15033, 16317, 15032, 6616, 12203, 14253, 12476,
       14485, 14945, 15662, 15663, 15664, 15665, 15136, 16537, 16307,
       16244, 15839, 13460, 13089, 12942, 14864, 14527, 14865, 15690,
       16330, 16154, 16153, 16066, 16065, 15292, 16246, 16501, 16578,
       15567, 16553, 13172, 15120, 15949, 15946, 7818, 13599, 4679, 12586,
       12588, 15940, 12587, 12589, 12585, 9562, 13854, 13853, 11585,
       11467, 11586, 13765, 13766, 11587, 9636, 12639, 12641, 12640,
       14768, 3506, 3510, 3507, 13230, 7819, 3509, 15426, 15621, 15457,
       13604, 12857, 15476, 14000, 15478, 15475, 16151, 15659, 15147,
       15660, 15148, 15149, 15146, 15145, 15801, 15452, 15038, 15030,
       15875, 16186, 14371, 10459, 14372, 11049, 15850, 15849, 812, 807,
       805, 802, 2534, 793, 791, 2179, 804, 41, 798, 2361, 15848, 16525,
       16262, 16261, 15206, 11849, 13515, 13514, 13516, 10814, 11847,
       13517, 16081, 15402, 15404, 13647, 14657, 16053, 15525, 15527,
       14676, 16057, 16056, 13762, 15280, 15282, 15281, 15283, 15934,
       15933, 15575, 16239, 14451, 16324, 15582, 13736, 13659, 15465,
       15004, 14699, 15349, 15466, 14700, 10775, 16119, 15667, 14746,
       15361, 15196, 15657, 15658, 15670, 16527, 16513, 15880, 15879,
       16010, 14950, 16540, 15729, 38, 5646, 8344, 15576, 16138, 14366,
       13412, 14632, 15315, 13627, 14184, 15429, 16132, 14680, 15859,
       16229, 14302, 16072, 14300, 13096, 16564, 13754, 15734, 15448,
       15881, 15731, 15316, 15732, 14599, 15733, 15730, 12771, 3568,
       14506, 15811, 16342, 16292, 15307, 16047, 16255, 16274, 16148,
       16149, 16289, 14981, 15773, 15776, 16037, 16038, 15807, 15952,
       15808, 16062, 16063, 14802, 13052, 14805, 14220, 14374, 14395,
       15614, 13809, 15612, 13814, 15613, 15615, 15533, 15531, 15530,
       15928, 16276, 16277, 15456, 15425, 15047, 15927, 16155, 16280,
       9937, 16281, 15554, 15106, 16283, 13379, 15338, 15337, 15737,
       15958, 16515, 16586, 11225, 16004, 14756, 16005, 14930, 13313,
       15229, 14507, 14509, 14508, 15868, 14581, 14580, 15869, 15871,
       15870, 12791, 11602, 15073, 14839, 14696, 11996, 13914, 13913,
       11997, 531, 13531, 15711, 15713, 15715, 15346, 15345, 15344, nan,
       15755, 15677, 14561, 16022, 16011, 3383, 14149, 13904, 14141,
       12494, 15462, 15095, 14626, 12496, 12315, 15649, 14809, 15155,
       12194, 16328, 14469, 16034, 14679, 15526, 16305, 16306, 15138,
       15753, 15756, 16131, 16130, 16129, 14712, 15481, 16146, 14192,
       15860, 15863, 15861, 15862, 15864, 14819, 14828, 14827, 15202,
       13959, 13965, 13958, 13957, 13520, 13969, 19820, 19821, 15748,
       19822, 16192, 14729, 8463, 13982, 15944, 15930, 14912, 15945,
       14915, 14855, 14856, 15923, 14845, 14844, 15921, 15922, 12366,
       8365, 12365, 14647, 15812, 14661, 16304, 15797, 16094, 14736,
       11736, 15036, 15360, 15674, 13557, 15035, 16121, 14241, 14982,
       15026, 15116, 15369, 15566, 16003, 15127, 15125, 14323, 15631,
       16147, 7033, 11258, 13849, 15818, 15179, 15185, 15183, 15254,
       15178, 15184, 15180, 15264, 14338, 15561, 16213, 14692, 13291,
       13895, 15688, 14461, 11277, 15399, 13572, 14955, 13567, 15471,
       15080, 14429, 15238, 15237, 14600, 15241, 11933, 15240, 15325,
       15328, 15329, 15775, 15774, 14983, 13910, 16539, 15910, 12339,
       12869, 14095, 14099, 15856, 12881, 15857, 12882, 15227, 10014,
       14265, 14774, 14775, 14773, 15343, 15351, 16323, 523, 15432, 16472,
       15895, 15577, 15766, 15892, 16326, 15574, 13662, 11669, 13215,
       13211, 15342, 15318, 13073, 16159, 16264, 14899, 15134, 16133,
       16028, 15951, 15487, 15486, 15489, 14089, 14100, 14092, 14090,
       14106, 14101, 14797, 15201, 14923, 14573, 14569, 14570, 15834,
       14596, 15126, 14604, 16565, 16580, 16077, 13996, 15072, 11601,
       12790, 15070, 16096, 7032, 15324, 15162, 15161, 15163, 16273,
       16247, 15654, 15710, 15745, 15678, 15810, 15779, 15707, 15705,
       15706, 15704, 15473, 15479, 15647, 15769, 15434, 15764, 16071,
       15781, 16031, 15539, 16046, 15204, 15205, 15790, 15791, 15792,
       15793, 15795, 15794, 15763, 16152, 15661, 16068, 16067, 8193,
       16144, 15256, 15735, 14897, 15736, 15740, 15845, 15741, 16135,
       15891, 15887, '13127-1', 16230], dtype=object)

In [15]:
#En localisant la ligne, on voit que c'est une ligne vide erreur de manipulation humaine donc on peut la supprimer
df_web_clean.loc[df_web_clean['sku']=='13127-1']

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
797,13127-1,0,0,0,0.0,0.0,taxable,NaN,2.0,2020-06-09 15:42:04,...,clos-du-mont-olivet-chateauneuf-du-pape-2007-2,2020-07-20 17:09:06,2020-07-20 15:09:06,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0

In [16]:
#suppression des lignes 'bon-cadeau-25-euros' & '13127-1' qui ne sont pas des produits
df_web_traitement= df_web_clean.drop([0,797])

In [17]:
#on change le type de sku en numeric
df_web_traitement['sku']=pd.to_numeric(df_web_traitement['sku'])

In [18]:
df_web_traitement.dtypes

sku                             float64
virtual                           int64
downloadable                      int64
rating_count                      int64
average_rating                  float64
total_sales                     float64
tax_status                       object
tax_class                       float64
post_author                     float64
post_date                datetime64[ns]
post_date_gmt            datetime64[ns]
post_content                    float64
post_title                       object
post_excerpt                     object
post_status                      object
comment_status                   object
ping_status                      object
post_password                   float64
post_name                        object
post_modified            datetime64[ns]
post_modified_gmt        datetime64[ns]
post_content_filtered           float64
post_parent                     float64
guid                             object
menu_order                      float64
post_type                        object
post_mime_type                   object
comment_count                   float64
dtype: object

In [19]:
df_web_traitement.shape

(714, 28)

# Liaison

In [20]:
print("Données liaison")
display(df_liaison.head())

Données liaison

   product_id id_web
0        3847  15298
1        3849  15296
2        3850  15300
3        4032  19814
4        4039  19815

In [21]:
df_liaison.info() # il manque des données  91 données dans sku

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  825 non-null    int64
 1   id_web      734 non-null    object
dtypes: int64(1), object(1)
memory usage: 13.0+ KB

In [22]:
#Renommination de la colonne id_web en SKU (code barre produit) comme souligné par Sylvie
df_liaison.rename(columns={'id_web':'sku'} , inplace=True)
df_liaison.head()

   product_id    sku
0        3847  15298
1        3849  15296
2        3850  15300
3        4032  19814
4        4039  19815

In [23]:
#Vérification si on a des valeurs manquantes
sum_valeur_manquante_df_liaison= df_liaison.isnull().sum()
sum_valeur_manquante_df_liaison # Il y a 91 valeurs manquantes dans sku

product_id     0
sku           91
dtype: int64

In [24]:
#Recherche de duplicat dans colonne sku clé primaire candidate
dub_sku_df_liaison=df_liaison.pivot_table(index=['sku','product_id'], aggfunc='size')
  
print(dub_sku_df_liaison) #pas de doublons mais on remarque des valeurs abhérrantes '13127-1','14680-1', bon-cadeau-25-euros
#la stagiaire s'est basée sur les données df_web erroné en plus des erreurs de manipulation on ne devrait pas utiliser son tableau

sku                  product_id
38                   4729          1
41                   4634          1
304                  4141          1
523                  5932          1
531                  5047          1
                                  ..
19821                5563          1
19822                5565          1
13127-1              7247          1
14680-1              7329          1
bon-cadeau-25-euros  4954          1
Length: 734, dtype: int64

In [25]:
# pas de valeurs manquantes dans product_id
display(df_erp.shape)

display(df_liaison.shape)

(825, 5)

(825, 2)

In [26]:
# merge pour avoir les valeur sku manquantes 
df_erp_liaison= pd.merge(df_erp,df_liaison, on="product_id", how="left")
df_erp_liaison.shape

(825, 6)

In [27]:
# df_erp_liaison.head()

In [28]:
df_erp_liaison.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 825 entries, 0 to 824
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
 5   sku             734 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 45.1+ KB

In [35]:
df_merge=pd.merge(df_erp_liaison,df_web_traitement, on="sku", how='left')
df_merge.head()

,product_id,onsale_web,price,stock_quantity,stock_status,sku,virtual,downloadable,rating_count,average_rating,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,3847,1,24.2,0,outofstock,15298,0.0,0.0,0.0,0.0,...,pierre-jean-villa-saint-joseph-preface-2018,2019-12-30 09:30:29,2019-12-30 08:30:29,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
1,3849,1,34.3,0,outofstock,15296,0.0,0.0,0.0,0.0,...,pierre-jean-villa-saint-joseph-tilde-2017,2019-12-21 09:00:17,2019-12-21 08:00:17,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
2,3850,1,20.8,0,outofstock,15300,0.0,0.0,0.0,0.0,...,pierre-jean-villa-croze-hermitage-accroche-coe...,2020-06-26 18:15:03,2020-06-26 16:15:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
3,4032,1,14.1,0,outofstock,19814,0.0,0.0,0.0,0.0,...,pierre-jean-villa-igp-gamine-2018,2020-01-04 16:36:01,2020-01-04 15:36:01,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
4,4039,1,46.0,0,outofstock,19815,0.0,0.0,0.0,0.0,...,pierre-jean-villa-cote-rotie-carmina-2017,2020-01-04 16:36:10,2020-01-04 15:36:10,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0

In [30]:
sum_valeur_manquante_df_merge= df_merge.isnull().sum()
sum_valeur_manquante_df_merge # Il y a 91 valeurs manquantes dans sku

product_id                 0
onsale_web                 0
price                      0
stock_quantity             0
stock_status               0
sku                      182
virtual                   22
downloadable              22
rating_count              22
average_rating            22
total_sales               22
tax_status                22
tax_class                916
post_author               22
post_date                 22
post_date_gmt             22
post_content             916
post_title                22
post_excerpt              22
post_status               22
comment_status            22
ping_status               22
post_password            916
post_name                 22
post_modified             22
post_modified_gmt         22
post_content_filtered    916
post_parent               22
guid                      22
menu_order                22
post_type                 22
post_mime_type           916
comment_count             22
dtype: int64

In [31]:
#Vérification des valeurs abhérrantes dans prix
display(df_erp.info())
df_erp['price'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 32.4+ KB

None

array([ 24.2 ,  34.3 ,  20.8 ,  14.1 ,  46.  ,  32.7 ,  31.2 ,  60.  ,
        42.6 ,  80.  ,  18.3 ,  22.8 ,  19.3 ,  21.8 ,   7.7 ,  33.7 ,
        44.3 ,  71.6 ,  86.1 ,  12.7 ,   8.7 ,  11.9 ,  14.5 ,  14.4 ,
        19.5 ,  22.  ,  16.6 ,  23.4 ,  33.2 ,  32.  ,  77.8 ,  14.7 ,
        14.05,  22.9 ,  44.  ,  37.  ,  39.  ,  17.  ,  23.2 ,  19.  ,
        16.4 ,  73.  ,  47.  ,  13.7 ,  12.6 ,  12.8 ,  22.1 ,  15.8 ,
        16.3 ,   9.7 ,   6.8 ,  35.  ,  31.7 , 100.  ,  23.  ,  88.4 ,
        29.8 ,  25.7 ,  77.4 ,  53.  ,  49.  ,  29.5 ,  33.  ,  37.5 ,
        69.  ,  59.  ,  19.2 ,  29.  ,   9.8 ,  20.35,  12.  ,  18.5 ,
         9.3 ,  11.6 ,  14.3 ,  10.8 ,   7.6 ,  20.5 ,  18.2 ,   9.  ,
         7.8 ,   5.7 ,  13.5 ,  11.5 ,  24.  ,  16.7 ,  21.4 ,  13.3 ,
         9.5 ,  12.1 ,  17.8 ,  27.2 ,   9.4 ,   5.8 ,  38.  ,   9.9 ,
        11.3 ,   6.7 ,  73.5 ,  79.8 ,  48.5 ,  39.8 ,  58.8 ,  26.5 ,
        13.4 ,  17.1 ,   8.9 ,  17.2 ,  16.9 ,  29.9 ,   9.6 ,  11.1 ,
        20.  ,  28.  ,   8.6 ,  15.3 ,  14.8 ,  59.6 ,  26.9 ,  24.4 ,
        32.1 ,  12.2 ,  15.2 ,  10.2 ,  15.5 ,   9.2 ,  12.9 ,  14.9 ,
        17.6 ,  24.8 ,  21.5 ,  18.9 ,  27.  ,  41.  ,  69.8 ,  38.6 ,
        26.7 ,  39.1 ,  17.5 ,  30.  ,   8.1 ,  10.7 ,  10.9 ,  35.5 ,
        83.  ,  79.5 , 225.  , 126.5 ,  51.6 ,  77.  ,  85.6 ,  49.5 ,
        57.  ,  59.8 ,  27.5 ,  62.  ,  62.5 , 176.  , 108.5 ,  68.1 ,
       157.  , 104.  ,  28.1 ,  21.7 ,  30.5 ,  28.5 ,  67.2 ,  40.  ,
       109.6 ,  32.3 , 144.  ,  43.9 ,  61.6 ,  41.8 ,  36.9 ,  16.1 ,
        31.5 ,  32.2 ,  50.1 ,  11.8 ,  13.1 ,  26.2 ,  20.6 ,  67.5 ,
        30.6 ,  16.5 ,  52.4 ,  52.9 ,  58.3 ,  39.6 ,  62.4 ,  76.8 ,
        50.  ,  24.3 ,  25.3 ,  36.2 ,  33.4 ,  40.2 ,  43.  ,  48.8 ,
        23.6 ,  21.  ,  12.3 ,  20.2 ,  21.9 ,  19.8 ,  13.2 ,   6.3 ,
         7.1 ,   9.1 ,  18.1 ,  14.  ,  30.1 ,  34.5 ,  23.8 ,  31.6 ,
        16.8 ,  32.6 ,  55.4 ,  18.4 ,  18.6 ,  12.5 ,  15.9 ,  26.  ,
         7.4 ,  12.4 ,  13.8 ,  27.9 ,  13.9 ,  10.1 ,  13.6 ,  18.7 ,
        41.6 ,  78.  ,   6.5 ,   8.5 ,   8.2 ,   8.3 ,  14.6 ,  28.4 ,
        20.1 ,  21.2 , 102.3 , 137.  ,  53.2 ,  25.9 ,  17.3 ,  37.2 ,
         7.  ,   7.9 ,  27.8 ,  22.2 ,  25.  ,  10.  ,  23.7 ,  16.45,
        27.3 , 217.5 ,  64.9 ,  48.7 ,  59.4 , 105.  ,  55.6 ,   8.  ,
        15.4 ,  45.  , 112.  ,  86.8 ,  62.1 ,  22.5 ,   7.5 ,  52.6 ,
        67.  ,  59.9 ,  65.  ,  84.7 ,  43.3 ,  18.  ,  28.8 ,  35.3 ,
        16.2 ,   7.2 ,  54.8 ,  42.  ,  10.4 ,  17.9 ,  21.6 ,  43.5 ,
        48.4 ,  60.4 ,  65.9 ,  24.6 ,  36.3 ,  57.7 ,  58.  ,  30.8 ,
        92.  ,  19.9 ,  34.7 ,  83.7 ,  63.4 , 124.8 ,  56.4 ,  38.4 ,
        71.3 ,  10.3 ,  44.6 ,  13.  ,  44.5 ,  29.4 ,  57.6 ,  11.  ,
        73.3 ,  42.1 ,  24.5 ,  42.2 ,  35.6 , 175.  ,  33.6 ,  34.4 ,
        29.7 ,  32.8 ,  29.2 ,  17.4 ,  34.2 ,  63.5 ,  56.  ,  41.2 ,
        55.  , 191.3 ,  26.6 ,  24.7 ,  18.25,  35.1 ,  18.8 ,  17.7 ,
        36.  ,  93.  , 122.  , 114.  ,  74.5 ,  42.5 ,  47.5 ,  56.3 ,
        71.5 ,  71.7 ,  38.5 ,  40.7 ,  34.8 ,  74.8 ,  39.2 ,  14.2 ,
       135.  ,  10.6 ,   5.2 , 105.6 , 116.4 ,  31.  ,  25.2 , 115.  ,
       121.  ,  99.  ,  23.5 ,  26.4 ,  20.4 ,  45.9 ,  40.5 ,  22.4 ,
        72.  ,  68.3 ,  51.  ,  35.2 ,  37.7 ,  47.2 ,  52.7 ,  50.4 ,
        27.7 ,  46.5 ,  50.5 ,  49.9 ,   8.4 ])

In [32]:
df_erp.describe()

        product_id  onsale_web       price  stock_quantity
count   825.000000  825.000000  825.000000      825.000000
mean   5162.597576    0.869091   32.415636       26.496970
std     902.644635    0.337506   26.795849       45.892422
min    3847.000000    0.000000    5.200000        0.000000
25%    4348.000000    1.000000   14.600000        1.000000
50%    4907.000000    1.000000   24.400000       11.000000
75%    5805.000000    1.000000   42.000000       34.000000
max    7338.000000    1.000000  225.000000      578.000000

In [33]:
display(df_merge.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 916 entries, 0 to 915
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             916 non-null    int64
 1   onsale_web             916 non-null    int64
 2   price                  916 non-null    float64
 3   stock_quantity         916 non-null    int64
 4   stock_status           916 non-null    object
 5   sku                    734 non-null    object
 6   virtual                894 non-null    float64
 7   downloadable           894 non-null    float64
 8   rating_count           894 non-null    float64
 9   average_rating         894 non-null    float64
 10  total_sales            894 non-null    float64
 11  tax_status             894 non-null    object
 12  tax_class              0 non-null      float64
 13  post_author            894 non-null    float64
 14  post_date              894 non-null    datetime64[ns]
 15  post_date_gmt          894 non-null    datetime64[ns]
 16  post_content           0 non-null      float64
 17  post_title             894 non-null    object
 18  post_excerpt           894 non-null    object
 19  post_status            894 non-null    object
 20  comment_status         894 non-null    object
 21  ping_status            894 non-null    object
 22  post_password          0 non-null      float64
 23  post_name              894 non-null    object
 24  post_modified          894 non-null    datetime64[ns]
 25  post_modified_gmt      894 non-null    datetime64[ns]
 26  post_content_filtered  0 non-null      float64
 27  post_parent            894 non-null    float64
 28  guid                   894 non-null    object
 29  menu_order             894 non-null    float64
 30  post_type              894 non-null    object
 31  post_mime_type         0 non-null      object
 32  comment_count          894 non-null    float64
dtypes: datetime64[ns](4), float64(14), int64(3), object(12)
memory usage: 243.3+ KB

None